.login_with{
    width: 600px;
    height: 604px;
}
.user_background{
    display: flex;
    position:absolute;
}
.head{
    margin-top: 175px;
    margin-left: 255px;
    width: 107.59px;
    height: 112px;
    position: absolute;
}
.body{
    position: relative;
    width: 263.79px;
    height: 159.5px;
    margin-top: 314px;
    margin-left: 177px;
}
/* .user_login{
    position: relative;
    margin-top: 126px;
    display: flex;
    justify-content: center;
} */
#list_login{
    position: relative;
    list-style: none;
    margin-left: 37px;
}
#google{
    margin-top: 119px;
    padding-left: 15px;
    padding-top: 28px;
    background-color: #DB4437;
    border-radius: 25px;
    width: 371px;
    height: 92px;
    font-size: 30px;
    color: #FFFFFF;
}
#facebook{
    margin-top: 34px;
    padding-left: 15px;
    padding-top: 28px;
    background-color: #4267B2;
    border-radius: 25px;
    width: 371px;
    height: 92px;
    font-size: 30px;
    color: #FFFFFF;
}
#apple{
    margin-top: 34px;
    padding-left: 15px;
    padding-top: 28px;
    background-color: #000000;
    border-radius: 25px;
    width: 371px;
    height: 92px;
    font-size: 30px;
    color: #FFFFFF;
}
.login_with{
    border-radius: 50px;
    background-color: rgba(255, 32, 78, 0.2);
}
.login{
    border-radius: 50px;
    background-color: #00224D;
    width: 600px;
    height: 604px;
}
#google{
    width: 371px;
    height: 92px;
}
.with_google{
    display: flex;
    padding-bottom: 0px;
}
#google_icon{
    margin-left: 16px;
    width: 150px;
    height: 150px;
    margin-top: 89px;
}
.with_facebook{
    display: flex;
    margin-top: 16px;
}
#facebook{
    margin-top: 0px;
    width: 371px;
    height: 92px;
}
#facebook_icon{
    margin-left: 44px;
    width: 93px;
    height: 93px;
}
.with_apple{
    display: flex;
    margin-top: 0px;
    padding-bottom: 0px;
}
#apple{
    margin-top: 44px;
    width: 371px;
    height: 92px;
}
#apple_icon{
    margin-top: 30px;
    margin-left: 52px;
    width: 78px;
    height: 95px;
}