*{  font-family: inter;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
#navbar{
    position: relative;
    display: flex;
    z-index: 1;
}
.login_bar{
    position: absolute;
    margin-left: 360px;
    margin-top: 126px;
    z-index: -1;
}


















/* .login h1{
    justify-content: center;
    text-align: center;
    font-size: 96px;
    width: 357px;
    height: 103px;
    margin-left: 247px; 
    color: #FFFFFF;
}
#username{
    background-color: #5D0E41;
    margin-top: 45px;
    margin-left: 46px;
    width: 529px;
    height: 92px;
    border-radius: 25px;
    padding-left: 32px;
    font-size: 50px;
} */
