*{  font-family: inter;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
#navbar{
    position: relative;
    display: flex;
    z-index: 1;
}
.content{
    display: flex;
    justify-content: center;
}
.login_bar{
    margin-top: 126px;
    justify-content: center;
    position: absolute;
    display: flex;
    z-index: -1;
}
















